/* Main container for the whole contact section */
.contact-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #f0f2f5;
    box-sizing: border-box;
}

/* Button styling for the Contact Section */
.contact-section-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #1C6DE0;
    background-image: linear-gradient(162deg, #4cc9f0 0%, #003a71 100%);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 40px;
}

.contact-section-button:hover {
    background-color: #0056b3;
}

/* Flex container for image and form, side by side on larger screens */
.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 30px;
}

/* Contact form container styling */
.contact-form-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 50%; /* Set width to take up half of the container */
    box-sizing: border-box;
}

.contact-form-container h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Form styling */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.input-field label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
}

.input-field input, 
.input-field textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #f7f7f7;
}

.input-field input:focus,
.input-field textarea:focus {
    border-color: #00aaff;
    background-color: #ffffff;
}

.submit-button {
    padding: 12px;
    font-size: 1.1rem;
    background-color: #007bff;
    background-image: linear-gradient(162deg, #4cc9f0 0%, #003a71 100%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

/* Image container styling */
.contact-image-container {
    width: 50%; /* Set width to take up half of the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        gap: 20px;
    }

    .contact-form-container, 
    .contact-image-container {
        width: 100%;
    }
}
